<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP_TorneoNatacion.Properties.Settings.TorneoNatacionConnectionString"
            connectionString="Data Source=DESKTOP-TV45VP8;Initial Catalog=TorneoNatacion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>